
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #0b1a33; /* Deep navy */
    background: linear-gradient(145deg, #0b1a33, #081322, #0f1f3f);
}


/* Centering container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card box */
.login-box {
    width: 380px;
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 8px;
    border-top: 6px solid #003399; /* Official navy blue */
    .login-box {
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

}

/* Title */
.login-box h2 {
    margin-bottom: 25px;
    text-align: center;
    color: #003399;
    font-size: 22px;
    letter-spacing: 0.5px;
}

/* Labels */
label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

/* Inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #003399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    background: #002266;
}

/* Error box */
.error-box {
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid red;
    background: #ffe5e5;
    color: #b30000;
    font-size: 14px;
    border-radius: 5px;
}
